* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

html {
     height: 100%;
     min-height: 100%;
}

body {
     font-family: 'Poppins', sans-serif;
     background: #fafafa;
     min-width: 372px;
     min-height: 100%;
}

.container {
     margin: 5rem auto;
}

/* titulo */
#headerTitle h1 {
     font-weight: 600;
     text-align: center;
     margin-bottom: 0.8rem;
}

#headerTitle p {
     font-size: 1.2rem;
     font-weight: 300;
     text-align: center;
}

/* tabela */
table {
     width: 100%;
     margin-top: 1rem;
     table-layout: fixed;
}

table thead tr th {
     text-align: left;
     padding: 0.8rem;
     background: #f0f0f0;
     font-weight: 300;
}

table tbody tr td {
     text-align: left;
     padding: 0.8rem;
     border-bottom: 1px solid #f0f0f0;
}

td {
     word-wrap: break-word;
}

.table-container {
     overflow-x: hidden;
}

/* footer */
footer {
     margin-top: 2rem;
     text-align: center;
     background: #f0f0f0;
     margin-top: auto;
}

footer .social-media {
     margin-top: 1rem;
}

footer .social-media a {
     margin: 0 0.5rem;
     font-size: 2rem;
     color: #000;
}

footer .social-media a:hover {
     color: #363636;
}

/* media queries */
@media (max-width: 768px) {
     #headerTitle {
          margin: 5rem auto;
     }

     #headerTitle h1 {
          font-size: 2rem;
     }

     #headerTitle p {
          font-size: 1rem;
     }

     table thead tr th {
          font-size: 0.8rem;
     }

     table tbody tr td {
          font-size: 0.8rem;
     }

     footer .social-media a {
          font-size: 1.5rem;
     }
}